
{#
 * This file is part of the ZimbruCode package.
 *
 * (c) Junjulini
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 #}

{#
 * Control TWIG : Toggle
 *
 * @author  Junjulini
 * @package ZimbruCode
 * @since   ZimbruCode 1.0.0
 #}

{% extends '@blocks/content/control.twig' %}

{% block control %}
    {% set closed = control.settings.opened != true ? 'zc-panel-control-toggle_closed' %}

    <div class="zc-panel-control-toggle {{ closed }}">
        <div title="{{ __('Click to toggle', 'zc') }}" class="zc-panel-control-toggle__header"></div>
        <h3 class="zc-panel-control-toggle__title-container">
            <span class="zc-panel-control-toggle__title">{{ control.title }}</span>
        </h3>
        <div class="zc-panel-control-toggle__container">
            <ul class="zc-panel-controls__list">
                {{ render(control.content) }}
            </ul>
        </div>
    </div>


{% endblock %}