
/*
 * This file is part of the ZimbruCode package.
 *
 * (c) Junjulini
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

/*
 * Control SCSS : Upload
 *
 * @author  Junjulini
 * @package ZimbruCode
 * @since   ZimbruCode 1.0.0
 */

.zc-panel-control-upload {
    &__button {
        @include center-flex;
        outline: none;
        min-width: 100px;
        height: 32px;
        padding: 0 6px;
        margin: 0;
        border: 1px solid rgba(0 ,0, 0, 0.04);
        border-radius: 3px;
        background: $accent-color__1;
        color: #ffffff;
        font-weight: 500;
        cursor: pointer;
        text-transform: uppercase;
        @include def-transition(background);

        &:hover {
            background: #65CCAD;
        }

        &:focus {
            outline: none;
        }
    }

    &__image-container {
        position: relative;
        border: 3px solid $bg-color__border__1;
        padding: 5px;
        margin-top: 20px;
        display: block;
        box-sizing: border-box;
    }

    &__icon-close {
        position: absolute;
        top: 5px;
        right: 5px;
        background: $accent-color__4;
        font-size: 16px;
        color: #ffffff;
        width: 20px;
        height: 20px;
        line-height: 20px;
        cursor: pointer;
        text-align: center;
        @include def-transition(background);

        &:hover {
            background: $accent-color__2;
        }
    }

    &__image {
        max-width: 100%;
        display: block;
        margin: 0 auto;
    }
}