
/*
 * This file is part of the zimbrucode package.
 *
 * (c) Junjulini
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

/*
 * SCSS : Panel/Blocks : Content
 *
 * @author  C.R <cr@junjulini.com>
 * @package zimbrucode
 * @since   1.0.0
 */

.zc-panel-content {
    height: 100%;
    display: block;
    color: $text-color__all;
    background: $bg-color__3;

    .zc-panel[data-width|="mode-3"] & {
        left: $panel_menu__width;
        top: 0;
        bottom: 0;
        right: 0;
        position: absolute;

        body.rtl & {
            left: 0;
            right: $panel_menu__width;
        }

        &_submenu-active {
            left: $panel_menu__full-width;

            body.rtl & {
                left: 0;
                right: $panel_menu__full-width;
            }
        }
    }
}