
/*
 * This file is part of the zimbrucode package.
 *
 * (c) Junjulini
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

/*
 * SCSS : Panel/Blocks : Footer
 *
 * @author  C.R <cr@junjulini.com>
 * @package zimbrucode
 * @since   1.0.0
 */

.zc-panel-footer {
    width: 100%;
    height: $panel_footer__height;
    background: $bg-color__2;
    border-top: 1px solid $bg-color__border__2;
    border-left: 1px solid $bg-color__1;
    position: relative;
    bottom: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .zc-panel[data-width|="mode-3"] & {
        position: absolute;
    }

    &__details {
        margin: 10px 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__details-container {
        font-size: 11px !important;
    }

    &__details-container-link {
        text-decoration: none;
        color: $accent-color__2;
        @include def-transition(color);

        &:hover {
            color: $accent-color__4;
        }

        &:focus {
            box-shadow: none !important;
        }
    }

    &__logo {
        width: auto;
        height: 40px;
        opacity: 0.5;
        cursor: help;
        transition: opacity .5s;
        margin-right: 20px;

        body.rtl & {
            margin-right: initial;
            margin-left: 20px;
        }

        &:hover {
            opacity: 1;
        }
    }
}