
/*
 * This file is part of the zimbrucode package.
 *
 * (c) Junjulini
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

/*
 * SCSS : Panel/Blocks : Menu
 *
 * @author  C.R <cr@junjulini.com>
 * @package zimbrucode
 * @since   1.0.0
 */

.zc-panel-menu {
    width: $panel_menu__width;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

    &_submenu-active {
        width: $panel_menu__full-width;
    }

    &__container {
        height: 100%;
        width: $panel_menu__width;
        background: $alt-color__bg-1;
        box-shadow: inset -10px 0 17px -5px $panel_menu__shadow-color;
        position: relative;

        .zc-panel[data-width|="mode-3"] & {
            min-height: $panel__min-height;
        }
    }

    // Element : Title container
    &__title-container {
        height: $panel_header__height;
        border-bottom: 1px solid $panel_menu__border-color;
        box-sizing: border-box;
        position: relative;
        display: flex;
        align-items: center;
        column-gap: 10px;
    }

    &__icon {
        color: $alt-color__text;
        font-size: 21px;
        margin-left: 20px;
    }

    &__title {
        font-size: 15px;
        font-weight: 600;
        color: $alt-color__text;
        cursor: default;
    }

    // Element : Scrollbar container
    &__scrollbar-container {
        top: $panel_header__height;
        z-index: 0;
        overflow: auto;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;

        .zc-scrollbar {
            &_active {
                .zc-panel-menu__item-icon_pointer {
                    left: 10px;
                }

                .zc-panel-menu__item {
                    margin-right: 17px;
                    border-radius: 0 3px 3px 0;
                }
            }

            &::-webkit-scrollbar-thumb {
                background-color: $bg-color__scroll-bar-alt;
            }

            &:hover {
                &::-webkit-scrollbar-thumb {
                    background-color: $bg-color__scroll-bar-alt__hover;
                }
            }

            &::-webkit-scrollbar-thumb:hover {
                background-color: $bg-color__scroll-bar-alt__draggable;
            }
        }

        &:after {
            content: '';
            position: absolute;
            width: 218px;
            height: 50px;
            bottom: 0;
            left: 0;
            @include gradient(rgba(60 ,65, 68, 0), $alt-color__bg-1);
        }
    }

    &__list {
        margin: 10px 0 40px 0;
    }

    // Element : Item ( Menu item )
    &__item {
        height: 34px;
        display: flex;
        align-items: center;
        column-gap: 10px;
        margin-bottom: 0;
        margin-top: 1px;

        &_active {
            &, &:hover {
                background: $alt-color__bg-2 !important;

                .zc-panel-menu__item-icon,
                .zc-panel-menu__item-title {
                    color: $panel_menu__text-active-color;
                }
            }
        }

        // Modifying : Type - Simple
        &_type_simple {
            cursor: pointer;

            &:hover {
                background: $panel_menu__text-bg-hover-color ;

                .zc-panel-menu__item-icon,
                .zc-panel-menu__item-title {
                    color: $panel_menu__text-active-color;
                }
            }
        }

        // Modifying : Type - Title
        &_type_title .zc-panel-menu__item-only-title {
            font-size: 9px;
            font-weight: 500;
            color: $alt-color__text;
            text-transform: uppercase;
            cursor: default;
            margin-left: 20px;
        }

        // Modifying : Type - Delimiter
        &_type_delimiter {
            height: 1px;
            border-bottom: 1px solid $panel_menu__border-color;
            margin: 20px 20px 10px 20px;
        }
    }

    &__item-icon {
        color: $alt-color__text;
        font-size: 21px;
        margin-left: 20px;
        position: relative;
        top: -1px;

        // Modifying : Pointer
        &_pointer {
            font-size: 14px;
            color: $panel_menu__pointer-tab-color !important;
            margin-left: auto;
            margin-right: 15px;
            top: 1px;
        }
    }

    &__item-title {
        font-weight: 600;
        color: $alt-color__text;
    }
}