
/*
 * This file is part of the zimbrucode package.
 *
 * (c) Junjulini
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

/*
 * SCSS : Panel/Blocks : Panel
 *
 * @author  C.R <cr@junjulini.com>
 * @package zimbrucode
 * @since   1.0.0
 */

.zc-panel {
    background: $bg-color__3;
    margin-right: 20px;
    box-shadow: 0 0 20px 0 $panel__shadow-color;
    visibility: hidden;
    position: relative;
    display: block;
    z-index: 999;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    text-size-adjust: none;
    overflow: hidden;
    font-family: $default-font !important;
    font-size: 13px;
    line-height: 1.4em;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;

    p {
        font-size: 13px;
        line-height: 1.4em;
        margin: 0;
    }

    strong, b {
        font-size: 13px;
        line-height: 1.4em;
        font-weight: 500;
    }

    code {
        color: #e83e8c;
        word-wrap: break-word;
        font-size: 85%;
        border-radius: 3px;
        background: $bg-color__1;
    }

    *::selection {
        background: $accent-color__1;
        color: #ffffff;
    }

    @media screen and (max-width: 782px) {
        margin-right: 10px;
    }

    &[data-width|="mode-3"] {
        position: sticky;
        min-height: $panel__min-height;
        height: calc(100vh - 94px);

        &.zc-panel_disable-height-fixed {
            position: relative;
            height: auto;
        }
    }
}

.tipsy-inner {
    background-color: $alt-color__bg-1;
}

.tipsy-arrow {
    border-color: $alt-color__bg-1;
}