
/*
 * This file is part of the ZimbruCode package.
 *
 * (c) Junjulini
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

/*
 * SCSS : Panel/Blocks : Panel
 *
 * @author  Junjulini
 * @package ZimbruCode
 * @since   ZimbruCode 1.0.0
 */

.zc-panel {
    background: $bg-color__3;
    margin-right: 20px;
    box-shadow: 0 0 20px 0 $panel__shadow-color;
    visibility: hidden;
    position: relative;
    display: block;
    z-index: 999;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    text-size-adjust: none;
    overflow: hidden;
    font-family: $default-font !important;
    font-size: 13px;
    line-height: 1.4em;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;

    p {
        font-size: 13px;
        line-height: 1.4em;
        margin: 0;
    }

    strong, b {
        font-size: 13px;
        line-height: 1.4em;
        font-weight: 500;
    }

    *::selection {
        background: $accent-color__1;
        color: #ffffff;
    }

    @media screen and (max-width: 782px) {
        margin-right: 10px;
    }

    &[data-width|="mode-3"] {
        min-height: $panel__min-height;
        position: fixed;
        left: 180px;
        right: 0px;
        top: 52px;
        bottom: 42px;

        &.zc-panel_wp-menu-folded {
            left: 56px;
        }

        &.zc-panel_disable-height-fixed {
            position: relative;
            left: auto;
            right: auto;
            top: auto !important;
            bottom: auto;
        }
    }

    &[data-width|="mode-1"], &[data-width|="mode-2"] {
        top: auto !important;
    }
}

.tipsy-inner {
    background-color: $alt-color__bg-1;
}

.tipsy-arrow {
    border-color: $alt-color__bg-1;
}