
/*
 * This file is part of the zimbrucode package.
 *
 * (c) Junjulini
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

/*
 * Animation
 *
 * @author  C.R <cr@junjulini.com>
 * @package zimbrucode
 * @since   1.1.0
 */

// Import ZC : Mixins
@import '@zc/mixins.scss';

@keyframes zc-show {
    0% {
        @include translateY(-20px);
        opacity: 0;
    }
    100% {
        @include translateY(0);
        opacity: 1;
    }
}

@keyframes zc-hide {
    0% {
        @include translateY(0);
        opacity: 1;
    }
    100% {
        @include translateY(-20px);
        opacity: 0;
    }
}