
/*
 * This file is part of the ZimbruCode package.
 *
 * (c) Junjulini
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

// Import ZC : Global vars
@import '@zc/variables.scss';

.zc-scrollbar {
    position: absolute;
    overflow: auto;
    overflow-x: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    &::-webkit-scrollbar {
        width: 13px;
        height: 10px;
    }

    &::-webkit-scrollbar-track {
        display: none;
    }

    &::-webkit-scrollbar-thumb, &::-webkit-scrollbar-thumb:hover {
        background: $bg-color__scroll-bar;
        border-right: 6px solid rgba(0, 0, 0, 0);
        border-top: 5px solid rgba(0, 0, 0, 0);
        border-bottom: 5px solid rgba(0, 0, 0, 0);
        background-clip: padding-box;
    }

    &:hover {
        &::-webkit-scrollbar-thumb {
            background-color: $bg-color__scroll-bar__hover;
        }
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: $bg-color__scroll-bar__draggable;
    }
}