
/*
 * This file is part of the zimbrucode package.
 *
 * (c) Junjulini
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

/*
 * SCSS : Panel/Blocks/Menu : Submenu
 *
 * @author  C.R <cr@junjulini.com>
 * @package zimbrucode
 * @since   1.0.0
 */

.zc-panel-submenu {
    &__container {
        position: absolute;
        left: $panel_menu__width;
        width: $panel_menu__width;
        height: 100%;
        top: 0;
        background: #ffffff;
        box-sizing: border-box;
        display: none;

        &_active {
            display: block;
        }
    }

    &__header-section {
        height: $panel_header__height;
        width: $panel_menu__width;
        background: $alt-color__bg-1;
        display: flex;
        align-items: center;

        &_mode_mobile {
            display: none;
        }
    }

    &__header-icon {
        margin-left: 20px;
        font-size: 21px;
        color: $alt-color__text;
    }

    &__header-section_mode_mobile &__header-icon {
        position: relative;
        top: 1px;
    }

    &__header-section-title {
        margin-left: 10px;
        font-size: 15px;
        font-weight: 600;
        color: $alt-color__text;
        cursor: default;
    }

    &__scrollbar-container {
        .zc-panel[data-width|="mode-3"] & {
            height: auto !important;
            width: 100%;
            bottom: 0;
            top: $panel_header__height;
            position: absolute;

            &:after {
                content: '';
                position: absolute;
                width: 222px;
                height: 50px;
                bottom: 0;
                left: 0;
                @include gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
            }
        }

        .zc-panel[data-width|="mode-1"] &, .zc-panel[data-width|="mode-2"] & {
            position: relative;

            .zc-scrollbar {
                &::-webkit-scrollbar-thumb {
                    background-color: $bg-color__scroll-bar-alt;
                }

                &::-webkit-scrollbar-thumb:hover {
                    background-color: $bg-color__scroll-bar-alt__hover;
                }
            }

            &:after {
                content: '';
                position: absolute;
                width: 222px;
                height: 50px;
                bottom: 0;
                left: 0;
                @include gradient(rgba(60, 65, 68, 0), $alt-color__bg-1);
            }
        }
    }

    &__list {
        margin: 10px 0 40px 0;
    }

    &__item {
        margin: 0 20px;
        margin-top: 1px;
        display: flex;
        align-items: center;
        min-height: 34px;

        .zc-scrollbar_active & {
            margin-right: 7px !important;
        }

        &_active, &_type_simple:hover {
            background: $bg-color__1 !important;
            border-radius: 3px;

            .zc-panel-submenu__item-icon,
            .zc-panel-submenu__item-title {
                color: $text-color__title !important;
            }
        }

        // Modifying : Type - Simple
        &_type_simple {
            cursor: pointer;
        }

        // Modifying : Type - Title
        &_type_title .zc-panel-submenu__item-only-title {
            font-size: 9px;
            font-weight: 500;
            color: $text-color__all;
            text-transform: uppercase;
            margin-left: 5px;
            cursor: default;
        }

        // Modifying : Type - Delimiter
        &_type_delimiter {
            min-height: 1px;
            border-bottom: 1px solid $bg-color__border__2;
            margin: 20px 20px 10px 20px;
        }

        // Modifying : Type - Text
        &_type_text .zc-panel-submenu__item-text {
            color: $text-color__all;

            > b, > strong {
                color: $text-color__title;
            }
        }
    }

    &__item-icon {
        font-size: 16px;
        color: $text-color__all;
        margin-left: 5px;
    }

    &__item-title {
        color: $text-color__all;
        margin-left: 10px;
        margin-right: 5px;
    }
}