
/*
 * This file is part of the zimbrucode package.
 *
 * (c) Junjulini
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

/*
 * SCSS : Panel/Blocks/Header : Quick links
 *
 * @author  C.R <cr@junjulini.com>
 * @package zimbrucode
 * @since   1.0.0
 */

.zc-panel-quick-links-starter-button {
    &_active {
        transition: none !important;
        background: $alt-color__bg-2 !important;
        color: $panel_header__button-text-color !important;
    }
}

.zc-panel-quick-links {
    position: absolute;
    z-index: 151;
    width: 200px;
    background: $alt-color__bg-2;
    right: 62px;
    top: 49px;
    border-radius: 5px 0 5px 5px;
    display: none;

    &_active {
        display: block;
    }

    &:before {
        content: '';
        position: absolute;
        width: 40px;
        height: 10px;
        background: $alt-color__bg-2;
        right: 0;
        top: -10px;
    }

    &:after {
        content: '';
        position: absolute;
        width: 8px;
        height: 10px;
        background: $alt-color__bg-1;
        top: -10px;
        right: 32px;
        border-radius: 0 0 5px 0;
    }

    &__list {
        margin: 10px;
    }

    &__item {
        margin: 0;
    }

    &__item-link {
        display: block;
        width: 145px;
        height: 34px;
        line-height: 34px;
        outline: none;
        text-decoration: none;
        font-size: 13px;
        font-weight: 500;
        padding-left: 30px;
        padding-right: 5px;
        position: relative;
        color: $panel_header__button-text-color !important;

        &:hover {
            background: $panel_header__button-hover-color;
            color: $panel_header__button-hover-text-color !important;
            border-radius: 3px;
        }

        &:active {
            color: $panel_header__button-text-color;
        }

        &:focus {
            color: $panel_header__button-hover-text-color;
            box-shadow: none !important;
        }
    }

    &__item-icon {
        position: absolute;
        width: 16px;
        height: 16px;
        left: 5px;
        top: -1px;
        bottom: 0;
        margin: auto;
        font-size: 16px;
    }
}