
/*
 * This file is part of the zimbrucode package.
 *
 * (c) Junjulini
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

/*
 * SCSS : MetaboxPanel : Meta lite mode
 * 
 * @author  C.R <cr@junjulini.com>
 * @package zimbrucode
 * @since   1.0.0
 */

// Import panel styles
@import 'styles.scss';

// Import ZC : Popup
@import '@zc/popup.scss';

// Import ZC : Loading
@import '@zc/loading.scss';

[id*="zc_"] {
    > .inside {
        margin: 0 !important;
        padding: 0 !important;
    }
}

.zc-panel-template {
    position: relative;
    padding: 10px;
    padding-top: 0;

    body.block-editor-page & {
        border: 1px solid #E2E4E7;
        border-bottom: none;
        border-top: none;
    }

    &__panel-loading {
        @include center-abs;
        margin-top: 50px;
        display: table;
    }
}

.zc-panel {
    margin-right: 0;
    box-shadow: none !important;
    min-height: auto;
    z-index: 1;

    body.rtl & {
        margin: 0;
    }

    &[data-width|="mode-3"] {
        position: relative;
        left: auto;
        right: auto;
        top: auto;
        bottom: auto;
        height: auto;
        min-height: auto;
    }
}

.zc-panel-content {
    position: relative;
    top: auto;
    bottom: auto;
    left: 0 !important;
    right: auto;
    margin-left: 0 !important;
    box-shadow: none !important;
    transform: none !important;

    .zc-scrollbar {
        position: relative;
        overflow: visible !important;
    }

    .zc-panel[data-width|="mode-3"] & {
        margin-left: $panel_menu__width;
        position: relative;
        top: auto;
        bottom: auto;
        left: 0 !important;
        right: auto;

        body.rtl & {
            right: 0;
        }

        &_submenu-active {
            margin-left: $panel_menu__full-width;
        }
    }
}

.zc-panel-controls {
    position: relative;
    top: auto;
    bottom: auto;

    .zc-panel[data-width|="mode-3"] & {
        position: relative;
        bottom: auto;
        top: auto;
    }
}