
{#
 * This file is part of the zimbrucode package.
 *
 * (c) Junjulini
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 #}

{#
 * Control TWIG : Select
 *
 * @author  C.R <cr@junjulini.com>
 * @package zimbrucode
 * @since   1.0.0
 #}
 
{% extends '@blocks/content/control.twig' %}
{% import "@macros/control.twig" as html %}

{% block content %}
    <div class="zc-panel-control-select">
        {{
            html.select(
                control.ID,
                control.option,
                control.settings.options,
                control.settings.configs,
                control.settings.mode|default('single'),
                'zc-panel-control-select__list',
                control.ignore(null, true)
            )
        }}
    </div>
{% endblock %}