
/*
 * This file is part of the zimbrucode package.
 *
 * (c) Junjulini
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

/*
 * Control SCSS : Msg
 *
 * @author  C.R <cr@junjulini.com>
 * @package zimbrucode
 * @since   1.0.0
 */

.zc-panel-control-msg {
    display: flex;
    width: 100%;
    padding: 10px 0;
    border-radius: 3px;
    box-sizing: border-box;
    color: #FFFFFF;
    background-color: #FFE3E3;
    border: 1px solid #E4AEAE;

    &_mode_error {
        background-color: #FFE3E3;
        border-color: #E4AEAE;
    }

    &_mode_error &__icon {
        color: #E08C8C;

        &:not([class*="zc-icon-"])::before {
            @include icon(highlight_off);
        }
    }

    &_mode_info {
        background-color: #DDF1FF;
        border-color: #98C8E8;
    }

    &_mode_info &__icon {
        color: #77B3DA;

        &:not([class*="zc-icon-"])::before {
            @include icon(error_outline);
        }
    }

    &_mode_success {
        background-color: #CFF3D7;
        border-color: #93DCA2;
    }

    &_mode_success &__icon {
        color: $accent-color__3;

        &:not([class*="zc-icon-"])::before {
            @include icon(check);
        }
    }

    &_mode_warning {
        background-color: #FFF0C3;
        border-color: #FFD966;
    }

    &_mode_warning &__icon {
        color: #F7C839;

        &:not([class*="zc-icon-"])::before {
            @include icon(warning);
        }
    }

    *::selection {
        background: #FFFFFF;
        color: #3C3C3C;
    }

    &__icon-container {
        width: 70px;
        height: 100%;
        display: flex;
        justify-content: center;
    }

    &__icon {
        font-size: 37px;
        color: #E08C8C;
    }

    &__content {
        display: flex;
        flex-grow: 2;
        flex-direction: column;
        row-gap: 5px;
    }

    &__title {
        color: $text-color__title;
        margin: 0;
        font-size: 15px;
        font-weight: 500;
    }

    &__text {
        margin: 0;
        color: #636363;
        font-size: 13px;
    }
}