
/*
 * This file is part of the zimbrucode package.
 *
 * (c) Junjulini
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

/*
 * SCSS : MetaboxPanel/PanelBlocks/Header : Backup
 * 
 * @author  C.R <cr@junjulini.com>
 * @package zimbrucode
 * @since   1.3.2
 */

.zc-panel-popup-notification_mode_backup {
    .zc-panel-popup-notification__content {
        top: 130px;
    }
}

.zc-popup-backup {
    box-sizing: border-box;
    position: relative;
    padding-top: 10px;

    &__close-block {
        position: absolute;
        width: 100%;
        height: 100%;
        cursor: wait;
        z-index: 10;
        display: none;
    }

    &__save-meta {
        display: block;
        width: 100%;
        position: relative;
        box-sizing: border-box;
    }

    &__input {
        width: 100%;
        height: 34px !important;
        min-height: 34px !important;
        border: 1px solid $bg-color__border__1 !important;
        background-color: #FFFFFF !important;
        border-radius: 3px !important;
        box-shadow: inset 0 1px 1px 0 $bg-color__box-shadow__1 !important;
        padding: 7px !important;
        color: $text-color__all !important;
        font-size: 13px;

        &:focus {
            outline: none;
            border-color: $accent-color__2 !important;
        }

        @include placeholder-color($text-color__placeholder);
    }

    &__save-button {
        position: absolute;
        top: 0;
        right: -1px;
        outline: none;
        min-width: 100px;
        height: 34px;
        padding: 0 6px;
        margin: 0;
        border: 1px solid $accent-color__1;
        border-radius: 0 3px 3px 0;
        background: $accent-color__1;
        color: #FFFFFF;
        font-weight: 500;
        font-size: 14px;
        cursor: pointer;
        @include def-transition(background);

        body.rtl & {
            right: initial;
            left: -1px;
            border-radius: 3px 0 0 3px;
        }

        &:hover {
            border-color: rgba(95, 193, 164, 0.85);
            background: rgba(95, 193, 164, 0.85);
        }

        &_disabled {
            cursor: not-allowed;
        }

        &:first-child {
            margin-right: 10px
        }

        &:focus {
            outline: none;
        }
    }

    &__label {
        font-size: 12px;
        margin: 0;
        padding: 5px 0 0 1px;
        display: block;
        color: $text-color__alt;
    }

    &__info-bar {
        border-bottom: 1px solid $bg-color__border__1;
        position: relative;
        padding: 3px 0;
        margin-top: 10px;
    }

    &__number-of {
        color: $text-color__all;
        font-size: 13px;
        font-weight: 500;
    }

    &__delete-button {
        border: transparent;
        background: transparent;
        position: absolute;
        right: 0;
        bottom: 2px;
        font-size: 17px;
        padding: 0;
        cursor: pointer;
        color: $text-color__alt;
        outline: none;
        @include def-transition(color);

        body.rtl & {
            right: initial;
            left: 0;
        }

        &:hover {
            color: $accent-color__4;
        }
    }

    &__no-backups {
        display: none;
        margin-top: 50px;

        &_active {
            display: block;
        }
    }

    &__nb-icon {
        display: block;
        text-align: center;
        font-size: 60px;
        color: $text-color__placeholder;
    }

    &__nb-title {
        display: block;
        text-align: center;
        font-size: 14px;
        font-weight: 500;
        padding-top: 5px;
        color: $text-color__placeholder;
    }

    &__list-container {
        margin-top: 10px;
        display: table;
        width: 100%;
        position: relative;
        overflow: hidden;
    }

    &__list {
        margin: 0;
    }

    &__item {
        margin: 0;
        border-bottom: 1px solid $bg-color__border__1;
        box-sizing: border-box;
        padding: 5px 0;
        height: 30px;
        line-height: 30px;
        display: block;
        position: relative;

        &:last-child {
            border: none;
        }

        &:hover {
            background: $bg-color__1;
        }
    }

    &__item-title {
        display: block;
        height: 19px;
        line-height: 19px;
        font-size: 13px;
        padding-left: 5px;
    }

    &__item-button {
        position: absolute;
        top: 8px;
        right: 3px;
        font-size: 13px;
        cursor: pointer;
        color: $text-color__alt;
        @include def-transition(color);

        &_restore {
            right: 20px;

            &:hover {
                color: $accent-color__2;
            }
        }

        &_delete:hover {
            color: $accent-color__4;
        }

        body.rtl & {
            right: initial;
            left: 3px;

            &_restore {
                right: initial;
                left: 20px;
            }
        }
    }
}